@{
    ViewData["Title"] = "Home Page";
}

@section Header {
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center gap-2" asp-area="" asp-controller="Home" asp-action="Index">
               <svg width="148" height="49" viewBox="0 0 148 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.6708 15.4072C34.5327 11.3843 31.0789 8.21948 26.8883 6.44292C22.7008 4.69621 18.036 4.46756 13.6982 5.79638C9.36044 7.12521 5.62166 9.92821 3.12661 13.722C0.697021 17.4804 -0.367264 21.9615 0.112471 26.4128C0.606253 30.8004 2.61923 34.8761 5.80171 37.9318C6.21517 38.3459 6.77748 38.4163 7.0421 38.1306C7.30671 37.8449 7.19921 37.3025 6.82296 36.9298L6.70306 36.8263C4.03092 33.9039 2.43798 30.1538 2.18901 26.1992C1.94004 22.2446 3.05004 18.3237 5.3345 15.0884C7.57179 11.9349 10.8175 9.64109 14.5342 8.58691C18.2509 7.53273 22.2156 7.78135 25.7719 9.29162C29.3062 10.8152 32.2158 13.5006 34.02 16.9042C35.8242 20.3077 36.4151 24.2258 35.695 28.0111C34.9816 31.6961 33.0797 35.0447 30.2816 37.5423C27.4835 40.04 23.944 41.5486 20.2067 41.8364L19.9959 34.2261C19.9904 34.0348 19.9438 33.847 19.8594 33.6754L20.1778 33.6505C20.4135 33.6505 20.5912 33.3234 20.5912 32.9383C20.5912 32.5533 20.4093 32.2386 20.1778 32.2262H20.1116L18.1311 32.0854C17.5529 32.0558 16.982 31.9428 16.436 31.75C15.3866 31.3758 14.4696 30.7021 13.7981 29.8122C13.1557 28.9492 12.7779 27.9177 12.7107 26.8434C12.7107 26.3756 12.7313 25.6385 12.7479 24.9926V24.4792C17.114 24.5537 21.4802 24.5371 25.8464 24.4295L25.9125 26.3259C25.9484 27.2329 25.7684 28.1356 25.3874 28.9593C24.9728 29.8206 24.3519 30.5658 23.58 31.1286C22.8081 31.6914 21.9092 32.0542 20.9634 32.1848C20.7608 32.222 20.5954 32.5491 20.5912 32.9383C20.5871 33.3275 20.7897 33.6381 21.0543 33.6505H21.1287C22.3953 33.6317 23.6362 33.2895 24.7338 32.6562C25.8314 32.0229 26.7494 31.1196 27.401 30.0317C28.0678 28.8991 28.4442 27.6189 28.4966 26.3052L28.6083 22.9927C28.6183 22.635 28.4865 22.2878 28.2417 22.0271C27.9968 21.7664 27.6589 21.6134 27.3017 21.6015H27.2108C26.0613 21.5684 24.9078 21.5684 23.7584 21.5477C24.3489 19.3081 24.1861 16.9362 23.2953 14.7986C23.0639 14.7276 22.821 14.7023 22.58 14.724C22.3404 14.7025 22.0988 14.7278 21.8688 14.7986C20.9799 16.9216 20.8114 19.2781 21.3892 21.5063C19.9752 21.5063 18.5611 21.4856 17.1471 21.5063C17.721 19.2836 17.554 16.934 16.6716 14.8151C16.4403 14.7441 16.1973 14.7188 15.9563 14.7406C15.7167 14.7191 15.4752 14.7444 15.2452 14.8151C14.3636 16.9343 14.1981 19.2841 14.7738 21.5063C13.6244 21.5063 12.475 21.5063 11.3256 21.5394H11.2553C10.8776 21.5491 10.5193 21.7085 10.2589 21.9825C9.99843 22.2565 9.85716 22.6228 9.86604 23.001L9.93633 24.9967C9.96114 25.6717 9.957 26.2679 10.0397 27.125C10.2457 28.7075 10.9311 30.1887 12.0036 31.3691C13.059 32.5176 14.4421 33.3127 15.9646 33.6464C16.6952 33.8023 17.4445 33.8511 18.189 33.7913L18.648 33.7582C18.5856 33.9054 18.5493 34.0623 18.5405 34.2219V34.3792L18.3089 42.8757C18.3028 43.001 18.3218 43.1263 18.3646 43.2443C18.4074 43.3622 18.4733 43.4704 18.5584 43.5626C18.6435 43.6547 18.746 43.7289 18.8601 43.7809C18.9742 43.8329 19.0974 43.8616 19.2227 43.8653H19.264C23.7205 43.9447 28.0679 42.4822 31.5728 39.7247C35.1253 36.9061 37.5802 32.9308 38.5114 28.4889C39.4426 24.0469 38.7914 19.4186 36.6708 15.4072Z" fill="black"/>
                <path d="M51.2825 20.8626C51.3425 20.1846 51.5475 19.5067 51.8975 18.8287C52.2475 18.1508 52.6625 17.5961 53.1425 17.1646C55.2826 18.5 57.3127 19.1677 59.2328 19.1677C60.0728 19.1677 60.6878 18.9725 61.0779 18.5822C61.4679 18.1919 61.6629 17.7091 61.6629 17.1338C61.6629 16.1683 61.0329 15.4081 59.7728 14.8534L56.2327 13.3126C54.8526 12.6757 53.7926 11.9105 53.0525 11.0168C52.3125 10.1231 51.9425 8.98807 51.9425 7.61161C51.9425 6.66658 52.1275 5.80373 52.4975 5.02305C52.8675 4.24237 53.3876 3.56441 54.0576 2.98917C54.7276 2.41394 55.5226 1.9671 56.4427 1.64867C57.3627 1.33023 58.3828 1.17102 59.5028 1.17102C61.7429 1.17102 64.003 1.75653 66.2831 2.92754C66.1831 4.50944 65.643 5.74209 64.663 6.62549C62.6229 5.61883 60.8229 5.1155 59.2628 5.1155C58.4628 5.1155 57.8627 5.30039 57.4627 5.67019C57.0627 6.03998 56.8627 6.46114 56.8627 6.93365C56.8627 7.73488 57.4527 8.38202 58.6328 8.87508L62.2329 10.4467C63.753 11.1041 64.888 11.9464 65.638 12.9736C66.3881 14.0008 66.7631 15.1924 66.7631 16.5483C66.7631 17.5139 66.5931 18.3973 66.2531 19.1985C65.9131 19.9997 65.408 20.6931 64.738 21.2786C64.068 21.8641 63.2329 22.3212 62.2329 22.6499C61.2329 22.9786 60.0628 23.143 58.7228 23.143C56.1227 23.143 53.6426 22.3829 51.2825 20.8626ZM80.1436 8.65936C81.5837 10.1385 82.3037 12.2546 82.3037 15.0075C82.3037 16.2402 82.1487 17.3598 81.8387 18.3665C81.5287 19.3731 81.0787 20.2309 80.4886 20.9396C79.8986 21.6484 79.1736 22.1928 78.3136 22.5729C77.4535 22.953 76.4635 23.143 75.3434 23.143C74.2234 23.143 73.2383 22.9478 72.3883 22.5575C71.5383 22.1672 70.8183 21.6176 70.2282 20.9088C69.6382 20.2 69.1932 19.3423 68.8932 18.3357C68.5932 17.329 68.4432 16.2196 68.4432 15.0075C68.4432 13.7749 68.5932 12.6603 68.8932 11.6639C69.1932 10.6676 69.6332 9.80984 70.2132 9.09079C70.7933 8.37175 71.5133 7.81705 72.3733 7.42672C73.2333 7.03638 74.2234 6.84121 75.3434 6.84121C77.3235 6.84121 78.9236 7.44726 80.1436 8.65936ZM75.3734 10.4467C74.9334 10.4467 74.5784 10.5546 74.3084 10.7703C74.0384 10.986 73.8234 11.2787 73.6634 11.6485C73.5034 12.0183 73.3934 12.4446 73.3334 12.9274C73.2733 13.4102 73.2433 13.9289 73.2433 14.4836C73.2433 15.3465 73.2683 16.0912 73.3184 16.7178C73.3684 17.3444 73.4684 17.8683 73.6184 18.2894C73.7684 18.7106 73.9784 19.0239 74.2484 19.2293C74.5184 19.4348 74.8734 19.5375 75.3134 19.5375C76.1935 19.5375 76.7735 19.142 77.0535 18.3511C77.3335 17.5601 77.4735 16.4353 77.4735 14.9767C77.4735 13.4975 77.3335 12.3727 77.0535 11.6023C76.7735 10.8319 76.2135 10.4467 75.3734 10.4467ZM90.8541 19.1677H91.6641C91.9041 19.8457 92.0241 20.5236 92.0241 21.2016C92.0241 21.8795 91.9941 22.3212 91.9341 22.5267C90.734 22.7321 89.664 22.8348 88.724 22.8348C87.3639 22.8348 86.3989 22.4907 85.8289 21.8025C85.2588 21.1143 84.9738 20.0306 84.9738 18.5514V0.215713L85.1538 0H86.9839C87.9239 0 88.584 0.215713 88.964 0.647141C89.344 1.07857 89.534 1.82843 89.534 2.89673V17.7193C89.534 18.6849 89.974 19.1677 90.8541 19.1677ZM107.115 20.462C107.015 20.8934 106.825 21.3557 106.545 21.8487C106.265 22.3418 105.975 22.7013 105.675 22.9273C104.275 22.8862 103.195 22.3418 102.435 21.294C101.134 22.5267 99.7244 23.143 98.2043 23.143C97.4243 23.143 96.7443 23.0146 96.1643 22.7578C95.5842 22.501 95.0942 22.1569 94.6942 21.7255C94.2942 21.294 93.9942 20.7958 93.7942 20.2309C93.5942 19.6659 93.4942 19.0753 93.4942 18.4589C93.4942 17.5755 93.6492 16.8 93.9592 16.1323C94.2692 15.4646 94.6942 14.9099 95.2342 14.4682C95.7742 14.0265 96.4043 13.6927 97.1243 13.4667C97.8443 13.2407 98.6144 13.1277 99.4344 13.1277C99.8944 13.1277 100.299 13.1329 100.649 13.1431C100.999 13.1534 101.304 13.1688 101.564 13.1894V12.6038C101.564 11.3096 100.914 10.6624 99.6144 10.6624C98.7744 10.6624 97.3043 10.9911 95.2042 11.6485C94.6042 10.9295 94.2242 9.80984 94.0642 8.28957C94.5442 8.10467 95.0792 7.93005 95.6692 7.76569C96.2593 7.60134 96.8643 7.45753 97.4843 7.33427C98.1043 7.211 98.7144 7.11342 99.3144 7.04151C99.9144 6.96961 100.454 6.93365 100.934 6.93365C101.634 6.93365 102.31 7.03637 102.96 7.24182C103.61 7.44726 104.18 7.76056 104.67 8.18171C105.16 8.60287 105.55 9.14729 105.84 9.81497C106.13 10.4827 106.275 11.2787 106.275 12.2032V18.4589C106.275 19.404 106.555 20.0716 107.115 20.462ZM98.0543 18.1508C98.0543 19.1163 98.5944 19.5991 99.6744 19.5991C100.234 19.5991 100.864 19.3012 101.564 18.7055V16.2402C101.164 16.2196 100.829 16.2042 100.559 16.1939C100.289 16.1837 100.084 16.1785 99.9444 16.1785C98.6844 16.1785 98.0543 16.8359 98.0543 18.1508ZM108.885 9.52222C108.985 9.11134 109.175 8.65423 109.455 8.1509C109.735 7.64756 110.015 7.28291 110.295 7.05692C112.135 7.20073 113.415 8.13549 114.135 9.8612C114.895 8.01222 116.145 7.08774 117.885 7.08774C118.405 7.08774 119.065 7.16991 119.865 7.33427C119.865 7.97113 119.76 8.72613 119.55 9.59926C119.34 10.4724 119.055 11.2171 118.695 11.8334C118.355 11.7102 117.845 11.6075 117.165 11.5253C116.165 11.5253 115.345 12.0492 114.705 13.0969V22.6808C114.045 22.804 113.27 22.8657 112.38 22.8657C111.49 22.8657 110.705 22.804 110.025 22.6808V12.7271C110.025 11.1863 109.645 10.118 108.885 9.52222Z" fill="black"/>
                <path d="M49.429 47.6904L51.0156 27.5739C51.8937 27.4162 52.9315 27.3373 54.129 27.3373C55.3264 27.3373 56.3742 27.4162 57.2723 27.5739L59.0385 34.8218C59.737 38.0956 60.1062 39.8805 60.1461 40.1763H60.3557C60.4355 39.6833 60.8047 37.8984 61.4633 34.8218L63.2595 27.5739C64.1376 27.4162 65.1754 27.3373 66.3729 27.3373C67.5703 27.3373 68.6181 27.4162 69.5162 27.5739L71.1028 47.6904C70.4841 47.8482 69.7208 47.9271 68.8127 47.9271C67.9046 47.9271 67.1612 47.8777 66.5824 47.7791L66.1035 39.5551C65.9638 36.2812 65.8839 34.0033 65.864 32.7214H65.6844L62.7207 44.7617C62.0022 44.88 61.1789 44.9392 60.2509 44.9392C59.3229 44.9392 58.4996 44.88 57.7812 44.7617L54.8474 32.7214H54.6379C54.6379 34.4766 54.558 36.7545 54.3984 39.5551L53.9493 47.7791C53.3706 47.8777 52.6271 47.9271 51.7191 47.9271C50.811 47.9271 50.0476 47.8482 49.429 47.6904ZM86.1608 41.8625H78.3474C78.3873 42.75 78.6168 43.4403 79.0359 43.9333C79.455 44.4264 80.1436 44.6729 81.1015 44.6729C81.5805 44.6729 82.1343 44.6039 82.763 44.4658C83.3917 44.3278 84.1151 44.101 84.9334 43.7854C85.592 44.456 86.0011 45.3632 86.1608 46.5071C84.5642 47.6312 82.6083 48.1933 80.2933 48.1933C79.0359 48.1933 77.9832 47.9961 77.135 47.6016C76.2868 47.2072 75.5983 46.655 75.0694 45.945C74.5405 45.235 74.1663 44.3968 73.9468 43.4304C73.7272 42.4641 73.6175 41.4089 73.6175 40.2651C73.6175 39.1606 73.7522 38.14 74.0216 37.2032C74.291 36.2664 74.7002 35.4529 75.249 34.7626C75.7978 34.0723 76.4963 33.53 77.3445 33.1355C78.1927 32.7411 79.1856 32.5439 80.3232 32.5439C81.2812 32.5439 82.1443 32.7017 82.9127 33.0172C83.6811 33.3328 84.3347 33.7666 84.8735 34.3189C85.4124 34.8711 85.8265 35.5318 86.1159 36.3009C86.4053 37.0701 86.5499 37.9083 86.5499 38.8155C86.5499 40.0185 86.4202 41.0342 86.1608 41.8625ZM78.3175 38.6676H82.2691V38.3422C82.2691 37.6124 82.1044 37.0109 81.7751 36.5376C81.4458 36.0643 80.9519 35.8276 80.2933 35.8276C79.6546 35.8276 79.1806 36.0495 78.8713 36.4932C78.5619 36.937 78.3773 37.6617 78.3175 38.6676ZM98.1353 32.958C98.255 33.5103 98.3149 34.0625 98.3149 34.6147C98.3149 35.1669 98.255 35.7093 98.1353 36.2418L94.5729 36.1826V42.9867C94.5729 43.9136 95.0119 44.3771 95.8901 44.3771H97.5665C97.8259 45.0871 97.9557 45.7379 97.9557 46.3296C97.9557 46.9212 97.9158 47.3453 97.8359 47.6016C96.3591 47.7989 95.002 47.8975 93.7646 47.8975C91.25 47.8975 89.9926 46.5268 89.9926 43.7854V36.2122L87.6576 36.2418C87.5179 35.7487 87.448 35.2113 87.448 34.6295C87.448 34.0477 87.5179 33.4905 87.6576 32.958L89.9926 33.0172V31.3014C89.9926 30.2956 90.1872 29.5807 90.5764 29.1566C90.9655 28.7326 91.6192 28.5206 92.5372 28.5206H94.3633L94.5729 28.7277V33.0172L98.1353 32.958ZM99.7219 35.1176C99.8217 34.7232 100.011 34.2844 100.291 33.8012C100.57 33.318 100.85 32.9679 101.129 32.751C102.965 32.889 104.242 33.7864 104.961 35.443C105.719 33.668 106.967 32.7805 108.703 32.7805C109.222 32.7805 109.88 32.8594 110.679 33.0172C110.679 33.6286 110.574 34.3534 110.364 35.1916C110.155 36.0298 109.87 36.7447 109.511 37.3363C109.172 37.218 108.663 37.1194 107.984 37.0405C106.986 37.0405 106.168 37.5434 105.53 38.5492V47.7496C104.871 47.8679 104.098 47.9271 103.21 47.9271C102.321 47.9271 101.538 47.8679 100.86 47.7496V38.1942C100.86 36.7151 100.48 35.6895 99.7219 35.1176ZM118.492 36.3897V47.7496C118.153 47.8087 117.784 47.8531 117.384 47.8827C116.985 47.9123 116.576 47.9271 116.157 47.9271C115.738 47.9271 115.324 47.9123 114.915 47.8827C114.505 47.8531 114.131 47.8087 113.792 47.7496V37.9576C113.792 36.8137 113.323 36.2418 112.385 36.2418H111.936C111.816 35.867 111.756 35.3444 111.756 34.6739C111.756 34.023 111.816 33.4708 111.936 33.0172C112.455 32.9778 112.934 32.9433 113.373 32.9137C113.812 32.8841 114.211 32.8693 114.57 32.8693H115.229C116.247 32.8693 117.045 33.1849 117.624 33.816C118.203 34.4471 118.492 35.305 118.492 36.3897ZM113.253 27.0414C113.832 26.7259 114.58 26.5681 115.498 26.5681C116.436 26.5681 117.165 26.7259 117.684 27.0414C117.923 27.5739 118.043 28.1459 118.043 28.7573C118.043 29.3686 117.923 29.9406 117.684 30.4731C117.105 30.7689 116.347 30.9168 115.409 30.9168C114.471 30.9168 113.752 30.7689 113.253 30.4731C113.014 29.9406 112.894 29.3686 112.894 28.7573C112.894 28.1459 113.014 27.5739 113.253 27.0414ZM129.479 39.5255V39.1409C129.479 38.0365 129.359 37.2328 129.119 36.7299C128.88 36.227 128.431 35.9755 127.772 35.9755C127.074 35.9755 126.585 36.3157 126.305 36.9961C126.026 37.6765 125.886 38.8056 125.886 40.3834C125.886 41.1723 125.941 41.833 126.051 42.3654C126.161 42.8979 126.32 43.3269 126.53 43.6523C126.739 43.9777 127.004 44.2144 127.323 44.3623C127.643 44.5102 128.022 44.5842 128.461 44.5842C128.92 44.5842 129.429 44.4856 129.988 44.2883C130.546 44.0911 131.145 43.7756 131.784 43.3417C131.963 43.4403 132.148 43.5833 132.338 43.7706C132.527 43.958 132.702 44.17 132.861 44.4067C133.021 44.6433 133.161 44.8948 133.281 45.161C133.4 45.4273 133.49 45.6787 133.55 45.9154C132.891 46.6057 132.033 47.1579 130.975 47.5721C129.918 47.9862 128.84 48.1933 127.742 48.1933C125.607 48.1933 123.97 47.503 122.833 46.1225C121.695 44.7419 121.126 42.7796 121.126 40.2355C121.126 38.9338 121.311 37.7998 121.68 36.8334C122.049 35.867 122.538 35.0683 123.147 34.4372C123.756 33.8061 124.454 33.3328 125.243 33.0172C126.031 32.7017 126.854 32.5439 127.712 32.5439C128.59 32.5439 129.394 32.6622 130.122 32.8989C130.851 33.1355 131.479 33.4708 132.008 33.9047C132.537 34.3386 132.946 34.8563 133.236 35.4578C133.525 36.0593 133.67 36.725 133.67 37.4547C133.67 38.283 133.425 38.8648 132.936 39.2001C132.447 39.5353 131.844 39.703 131.125 39.703C130.526 39.703 129.978 39.6438 129.479 39.5255ZM135.047 46.7437C135.067 46.231 135.201 45.6689 135.451 45.0575C135.7 44.4461 135.995 43.9629 136.334 43.6079C137.931 44.4363 139.318 44.8504 140.495 44.8504C141.054 44.8504 141.483 44.7567 141.782 44.5694C142.082 44.382 142.231 44.1306 142.231 43.815C142.231 43.2234 141.772 42.7796 140.854 42.4838L139.208 41.8625C136.713 40.9553 135.466 39.4762 135.466 37.4251C135.466 35.9262 135.99 34.738 137.038 33.8603C138.085 32.9827 139.497 32.5439 141.274 32.5439C142.152 32.5439 143.12 32.6671 144.177 32.9137C145.235 33.1602 146.103 33.4511 146.782 33.7864C146.822 34.3386 146.712 34.945 146.452 35.6057C146.193 36.2664 145.874 36.7348 145.495 37.0109C143.818 36.2615 142.421 35.8868 141.303 35.8868C140.904 35.8868 140.6 35.9755 140.39 36.153C140.181 36.3305 140.076 36.5573 140.076 36.8334C140.076 37.3068 140.455 37.6815 141.214 37.9576L143.07 38.6084C145.724 39.5353 147.051 41.123 147.051 43.3713C147.051 44.8504 146.502 46.0239 145.405 46.8916C144.307 47.7594 142.74 48.1933 140.705 48.1933C138.669 48.1933 136.783 47.7101 135.047 46.7437Z" fill="black"/>
                </svg>

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto gap-3">
                    <a class="nav-link" href="#features">Recursos</a>
                    <a class="nav-link" href="#benefits">Benefícios</a>
                    <a class="nav-link" href="#contact">Contato</a>
                    <a class="btn btn-primary" asp-controller="Cliente" asp-action="Index">Acessar Dashboard</a>
                </div>
            </div>
        </div>
    </nav>
}

<!-- Hero Section -->
<section class="py-5 py-md-6">
    <div class="container">
        <div class="row align-items-center g-5">
            <!-- Hero Text -->
            <div class="col-lg-6">
                <div class="d-inline-block bg-light-primary rounded-pill px-3 py-2 mb-4">
                    <small class="text-primary fw-medium">Energia Solar Inteligente</small>
                </div>
                <h1 class="display-4 fw-bold mb-4">Monitore sua energia solar em tempo real</h1>
                <p class="lead text-muted mb-4">
                    Acompanhe a geração de energia, economize mais e tome decisões inteligentes com nossa plataforma completa de monitoramento solar.
                </p>
                <div class="d-flex flex-wrap gap-3">
                    <a asp-controller="Cliente" asp-action="Index" class="btn btn-primary btn-lg">Começar Agora</a>
                    <button type="button" class="btn btn-outline-secondary btn-lg" 
                            onclick="window.location.href='https://www.youtube.com/watch?v=Fcza8JBvsyw&t=2s'">
                        Ver Demonstração
                    </button>
                </div>
            </div>
            <!-- Hero Cards -->
            <div class="col-lg-6">
                <div class="bg-light rounded p-4">
                    <div class="card border-0 mb-3">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <small class="text-muted">Geração Hoje</small>
                                <p class="h4 fw-bold mb-0">45.8 kWh</p>
                            </div>
                            <div class="bg-light-primary rounded-circle p-3">
                                <i class="fas fa-bolt text-primary" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 mb-3">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <small class="text-muted">Economia Mensal</small>
                                <p class="h4 fw-bold mb-0">R$ 1.247</p>
                            </div>
                            <div class="bg-light-primary rounded-circle p-3">
                                <i class="fas fa-chart-line text-primary" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <small class="text-muted">CO₂ Evitado</small>
                                <p class="h4 fw-bold mb-0">2.3 ton</p>
                            </div>
                            <div class="bg-light-primary rounded-circle p-3">
                                <i class="fas fa-leaf text-primary" style="font-size: 1.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features Section -->
<section id="features" class="py-5 py-md-6 bg-light">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="display-5 fw-bold">Recursos Poderosos</h2>
            <p class="lead text-muted">Tudo que você precisa para gerenciar sua energia solar</p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="card-body">
                        <div class="bg-light-primary rounded p-3 d-inline-block mb-3">
                            <i class="fas fa-chart-bar text-primary" style="font-size: 1.5rem;"></i>
                        </div>
                        <h5 class="card-title">Monitoramento em Tempo Real</h5>
                        <p class="card-text text-muted">
                            Acompanhe a geração de energia solar minuto a minuto com gráficos detalhados e alertas inteligentes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="card-body">
                        <div class="bg-light-primary rounded p-3 d-inline-block mb-3">
                            <i class="fas fa-users text-primary" style="font-size: 1.5rem;"></i>
                        </div>
                        <h5 class="card-title">Gestão de Clientes</h5>
                        <p class="card-text text-muted">
                            Gerencie todos os seus clientes em um só lugar com ferramentas completas de administração.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="card-body">
                        <div class="bg-light-primary rounded p-3 d-inline-block mb-3">
                            <i class="fas fa-shield text-primary" style="font-size: 1.5rem;"></i>
                        </div>
                        <h5 class="card-title">Segurança Total</h5>
                        <p class="card-text text-muted">
                            Seus dados protegidos com criptografia de ponta e backup automático em nuvem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Stats Section -->
<section id="benefits" class="py-5 py-md-6">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md-4">
                <h3 class="display-5 fw-bold text-primary">98%</h3>
                <p class="text-muted">Satisfação dos Clientes</p>
            </div>
            <div class="col-md-4">
                <h3 class="display-5 fw-bold text-primary">5.000+</h3>
                <p class="text-muted">Sistemas Monitorados</p>
            </div>
            <div class="col-md-4">
                <h3 class="display-5 fw-bold text-primary">24/7</h3>
                <p class="text-muted">Suporte Disponível</p>
            </div>
        </div>
    </div>
</section>

<!-- CTA Section -->
<section id="contact" class="py-5 py-md-6 bg-primary text-white">
    <div class="container text-center">
        <h2 class="display-5 fw-bold mb-4">Pronto para começar?</h2>
        <p class="lead mb-4 mx-auto" style="max-width: 600px;">
            Junte-se a milhares de usuários que já estão economizando e monitorando sua energia solar de forma inteligente.
        </p>
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <a asp-controller="Cliente" asp-action="Index" class="btn btn-light btn-lg">Acessar Dashboard</a>
        </div>
    </div>
</section>